body{
	background-image: url("/nuts/img/bakcground_bus.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1080px;
}
#title_div{
	text-align: left;
	vertical-align: middle;
	padding-top: 20px;
	padding-left: 5px;
	height: 40px;
	background: rgba(77, 166, 255, .9);
	margin-bottom: 10px;
}
#tit{
	font-size: 25px;
	font-family: "Lucida Console";
	color: white;
}
#wrap{
	
}
#google_map{
	position: realtive;
	float: left;
	margin-right: 10px;
	height: 800px;
	width: 1280px;
	border: 3px solid #b3b3cc;/*dashed*/
	border-radius: 5px;
    box-shadow: inset 0 -1px 0 0 #d1d1e0, inset 0 1px 0 0 #d1d1e0, 0 1px 0 0 #d1d1e0, 0 -1px 0 0 #d1d1e0;
	margin-bottom: 1px;
}
#below_search{
	overflow: hidden;
}
#place_search{
	position: relative;
	text-align: left;
	height: 130px;
	width: 320px;
	background: rgba(179, 179, 204, .9);
	margin-bottom: 5px;
	overflow: hidden;
}
#coord_search{
	position: relative;
	height: 160px;
	width: 200px;
	background: rgba(179, 179, 204, .9);
	margin-bottom: 5px;
	overflow: hidden;
}
#utils{
	position: block;
	text-align: left;
	height: 110px;
	width: 200px;
	background: rgba(179, 179, 204, .9);
	margin-bottom: 5px;
	overflow: hidden;
	overflow-y: auto;
}
.div_borders{
    border-radius: 10px;
    border: 3px solid #8c8c8c;
    padding: 10px;
}
.input_f{
	text-align: right;
	margin: 5px;
	margin-bottom: 10px;
	overflow: hidden;
}
label, .location_srh.par{
	color: #f0f0f5;
	font-weight: bold;
}
#place{
	width: 300px;
	height: 20px;
}
#rad{
	width: 50px;
}
.location_srh{
	margin: 5px;
}
.btn{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
	
    border-radius: 3px;
    border: 2px solid white;
    background-color: white;
    color: black; 
    border: 2px solid #4da6ff;
}
.btn:hover{
    background-color: #4da6ff;
    color: white;
}
.btn:disabled{
	background-color: #999999;
}
.field{
    border-radius: 5px;
    border: 2px solid #a3a3c2;
    padding: 5px; 
}
.route_sign{
	position: relative;
    float: left;
	text-align: center;
    vertical-align: middle;
    padding-top: 2px;
	width:30px;
    height: 20px;
    overflow: hidden;
    margin: 5px;
}
.route_times{
    float: left;
    border-radius: 3px;
    border: 1px solid #5c8a8a;
	text-align: center;
    vertical-align: middle;
    margin: 5px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    overflow: hidden;
}
.stop_times{
	position: block;
    overflow: hidden;
}
.check_input{
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}
.check_input input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.check_input:hover input ~ .checked{
	background-color: #ccc;
}
.check_input input:checked ~ .checked{
	background-color: #2196F3;
}
.checked{
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
.check_input input:checked .checked:after{
	display: block;
}
.check_input .checked:after{
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.error_msg{
	font-size: 14px;
	color: red;
}
#loading_screen{
    height:100%;
    width:100%;
	background: rgba(77, 166, 255, .7);
	z-index:999;
}
div[disabled=disabled] {
  pointer-events: none;
  opacity: 0.8;
}
div[enabled=enabled] {
  pointer-events: all;
}
#progress_bar{
	height: 10px;
	width: 100%;
}