<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Nuts</title>
    <link rel="shortcut icon" type="image/png" href="/nuts/img/nuts.png">
	<link rel="stylesheet" type="text/css" href="/nuts/css/nut_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
	<div id="wrap" ng-app="location_finder" ng-controller="wrapDiv">
  		<loading ng-show="loading"></loading>
	  	<div id="title_div">
			<span id="tit">Stops Within The Specified Range</span>
	  	</div>
		<div id="google_map" ng-controller="mapInit" disabled="enabled"></div>
		<div id="below_search" disabled="enabled">
			<div id="place_search" class="div_borders" ng-controller="place_select_ctrl">
				<input id="place" class="location_srh field" type="text" placeholder="Give a location">
				<p class="location_srh par">Latitude: {{lati}}</p>
				<p class="location_srh par">Longitude: {{lng}}</p>
				<input id="sh_palce" class="location_srh btn" type="button" value="Search Location" ng-click="search()">
			</div>
			<div id="coord_search" class="div_borders" ng-controller="coordinate_select_ctrl">
				<label class="input_f" for="lat">Latitude</label>
				<input id="lat" class="input_f field" type="text" name="lat" value={{latitude}}>
				<label class="input_f c" for="lon">Longitude</label>
				<input id="lon" class="input_f field" type="text" name="lon" value={{longnitude}}>
				<input id="coord_search_btn" class="input_f btn" type="button" value="Set Coordinate" ng-click="setGivenCoordinates()">
			</div>
		</div>
		<div id="utils" class="div_borders" ng-controller="utils_ctrl" disabled="enabled">
			<label class="input_f" for="rad">Radius(m):</label>
			<input id="rad" class="input_f field" type="text" name="rad" ng-model="radius" ng-change="checkValue()">
			<p class="error_msg">{{error_msg}}</p>
			<label class="check_input">&nbsp Departure times
				<input id="times" class="btn" type="checkbox" value="times">
				<span class="checked"></span>
			</label>
			<label class="check_input">&nbsp Point selection
				<input id="points" class="btn" type="checkbox" value="points" ng-click="checkClick()">
				<span class="checked"></span>
			</label>
		</div>
		<div id="process_list_div" class="div_borders" ng-controller="process_ctrl">
			<textarea id="process_list" cols="30" disabled="disabled" placeholder="Data update process list"></textarea>
		</div>
	</div>
  </body>
  <script type="text/javascript" src="/nuts/js/nut_app.js"></script>
  <script type="text/javascript" src="/nuts/js/nut_service.js"></script>
  <script type="text/javascript" src="/nuts/js/nut_directives.js"></script>
  <script type="text/javascript" src="/nuts/js/nut_controller.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<your_key>&libraries=places&callback=initMap" async defer></script>
</html>