<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NutBootStrap</title>
    <link rel="shortcut icon" type="image/png" href="/nuts/img/nuts.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/nuts/css/nuts_main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
	<div id="canvas" ng-app="location_finder" ng-controller="wrapDiv">
		<div class="container-fluid title_div">
			<div class="row m">
				<div class="col-md-8 m" class="container" id="google_map" ng-controller="mapInit">
				</div>
				<div id="below_search" class="col-sm-4 m">
					<div class="card m">
						<div id="place_search" class="card-body" ng-controller="place_select_ctrl">
							<p>
								<input id="place" type="text" class="form-control" placeholder="Search Location">
								<p class="location_srh par">Latitude: {{lati}}</p>
								<p class="location_srh par">Longitude: {{lng}}</p>
							</p>
							<p>
								<input id="sh_palce" class="btn btn-outline-primary" type="button" value="Search Location" ng-click="search()">
							</p>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div id="utils" class="card m" ng-controller="utils_ctrl">
								<div class="card-body">
									<p>
										<label class="input_f" for="rad">Radius(m):</label>
										<input id="rad" class="form-control" type="text" name="rad" ng-model="radius" ng-change="checkValue()">
										<p class="error_msg">{{error_msg}}</p>
									</p>
									<p>
										<label class="form-check-label check_input">
											<input id="times" type="checkbox" class="styled form-check-input" value="">Departure times
										</label>
									</p>
									<p>
										<label class="form-check-label check_input">
											<input id="points" type="checkbox" class="styled form-check-input" value="">Point selection
										</label>
									</p>
									<p>
										<input id="opt" type="button" class="btn btn-outline-primary" value="Options" ng-click="redirect()">
									</p>
								</div>
							</div>
						</div>
						<div class="col">
							<div id="coord_search" class="card m" ng-controller="coordinate_select_ctrl">
								<div class="card-body">
									<p>
										<label class="input_f" for="lat">Latitude</label>
										<input id="lat" class="form-control input_f field" type="text" name="lat" value={{latitude}}>
									</p>
									<p>
										<label class="input_f c" for="lon">Longitude</label>
										<input id="lon" class="form-control" type="text" name="lon" value={{longnitude}}>
									</p>
									<p>
										<input id="coord_search_btn" class="btn btn-outline-primary" type="button" value="Set Coordinate" ng-click="setGivenCoordinates()">
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
  <script type="text/javascript" src="/nuts/js/nut_app.js"></script>
  <script type="text/javascript" src="/nuts/js/nut_service.js"></script>
  <script type="text/javascript" src="/nuts/js/nut_directives.js"></script>
  <script type="text/javascript" src="/nuts/js/nut_controller.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<api_key>&libraries=places&callback=initMap" async defer></script>
</html>