<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Nuts option</title>
	    <link rel="shortcut icon" type="image/png" href="/nuts/img/nuts.png">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<!-- 		<link rel="stylesheet" type="text/css" href="/nuts/css/nuts_option.css"> -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body id="option_page_body">
		<div id="main" class="container-fluid" ng-app="admin_funct">
			<div id="feed_search_div" class="row" ng-controller="feed_list" ng-init="getFeeds()">
				<div class="col m">
					<p>
						<div class="card m">
							<div class="card-header">
								<input id="search_field" class="form-control m" type="text" ng-model="search" placeholder="Search feed">
								<input id="feed_btn" class="btn btn-info" type="button" value="Save Feeds" ng-click="postFeeds()">
							</div>
							<ul id="list_pool" class="list-group m">
								<li class="list-group-item" ng-repeat="feed in feeds() | filter:search">
									<p>
										<input id="id_{{feed.id}}" class="ch" type="checkbox" value={{feed.sub_feed.title}},{{feed.sub_feed.latest}}>{{feed.title}}
									</p>
								</li>                   
							</ul>
						</div>
					</p>
				</div>
				<div class="col m">
					<p>
						<label> Frissítés
							<input class="ch" type="checkbox">
						</label>				
					</p>
				</div>
			</div>
		</div>
	</body>
	<style type="text/css">
		body{
			background-image: url("/nuts/img/options_backg.png");
			background-size: 1920px 1080px;
		}
		.list-group.m{
			max-height: 300px;
			height: 300px;
			overflow-y: scroll;
		}
		.form-control.m{
			display: inline;
			width: 200px;
		}
		.col.m{
			border: 1px solid red;
			background: rgba(77, 166, 255, .9);
			margin: 10px;
		}
	</style>
	<script type="text/javascript" src="/nuts/js/nut_app.js"></script>
	<script type="text/javascript" src="/nuts/js/nut_service.js"></script>
	<script type="text/javascript" src="/nuts/js/nut_directives.js"></script>
	<script type="text/javascript" src="/nuts/js/nut_controller.js"></script>
</html>